* {
   margin: 0;
   padding: 0;
}
body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color: #33333;
}
h1, h2, h3, h4, h5, h5 {
  margin: 10px 0;
}

p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.container{
    margin-right: 25px;
    margin-left: 25px;
    padding: 25px 0;
    display: block;
    position: relative;
    text-align: center;
}

/*NAVIGATION*/
nav {
   padding: 10px 0;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
nav div {
  text-align: center;
  margin-bottom: 10px;
  width: 50%;
  justify-content: flex-end;
    align-items: center;
}
nav img {
  width: auto;
  height: 50px;
}
nav a {
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
  margin: 0 10px;
}
.signup-btn {
  padding: 10px 15px;
  border-radius: 2px;
  background-color: #FFC952;
}

/*HERO*/
header {
  color: #FFFFFF;
  background-image:
    linear-gradient(
    rgba(71, 184, 224, 0.7),
    rgba(0, 147, 200, 0.7)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
header .hero img {
  width: auto;
  height: 250px;
  margin-top: 35px;
  box-shadow: -1px -1px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px 2px 0 0;
}
header .hero h1 {
  font-size: 36px;
  margin: 10px;
}
header .hero p {
    font-size: 16px;
    line-height: 22px;
    margin: 15px 0;
}
.btn {
    display: inline-block;
    padding:15px 25px;
    color: #FFFFFF;
    border-radius: 2px;
    text-decoration: none;
    margin: 15px auto;
    background-color: #FFC952;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.25);
    font-size: 14px;
}

/*FEATURES*/
.features {
    padding: 3em 0;
}
.divider{
    width: 25px;
    height: 2px;
    background-color: #FFC952;
    margin: 3px auto;
}
.features i {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 5px;
}
.features li {
    list-style: none;
}
.features p {
    font-size: 14px;
    line-height: 22px;
}
.features img {
    width: 95%;
    margin: 25px auto;
    border-radius: 2px;
    box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.25);
}

/*TESTIMONIALS*/

.testimonials {
    margin: 0;
    padding: 3em 25px;
    background-image: url("../img/testimonials.png");
    background-size: cover;
}
.testimonial-box {
    margin: 15px;
    border-radius: 2px;
    padding: 25px;
    background-color: white;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
}
.testimonial-box p {
    font-size: 14px;
    line-height: 24px;
}
.testimonial-box img {
    border-radius: 100px;
    margin: 10px 0;
}

/*PRICING*/
.pricing {
    color: #FFFFFF;
    background-image: linear-gradient(
        rgba(71, 184, 224, 0.7),
        rgba(0, 147, 200, 0.7)
        );
    margin: 0;
    padding: 3em 0;
}
.pricing > p {
    margin-bottom: 25px;
}
.pricing-box h6 {
    padding: 15px 0;
    font-size: 14px;
    color: darkgray;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-color: lightgray;
}
.pricing-box {
    color: #000000;
    width: 90%;
    margin: 10px auto;
    padding-bottom: 25px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
}
.center-box {
    border: solid #FFC952;
}
.pricing-box li {
    list-style: none;
    font-size: 14px;
    line-height: 36px;
}
.pricing-box h1 {
    font-size: 75px;
    font-weight: 100;
}
.pricing-box span:nth-child(1) {
    font-size: 30px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
}
.pricing-box span:nth-child(2) {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}

/*FOOTER*/
footer {
    background-color: #3F3F3F;
    text-align: center;
    padding: 25px 0;
}
footer img{
    width: 100px;
}
footer div {
    margin: 15px 0;
}
footer a {
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}
footer i {
    display: inline-block;
    margin-right: 10px;
    color: #FFFFFF;
}
footer p {
    color: #FFFFFF;
    font-size: 10px;
}

/*DASHBOARD*/
.dashboard {
  background-color: #F9F9F9;
}

/*LEFT NAVIGATION*/
.left-navigation {
  height: 100vh;
  width: 15%;
  float: left;
  position: fixed;
  display: block;
  background-color: white;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
  padding: 25px;
}
.left-navigation img {
  margin-bottom: 15px;
}
.left-navigation li {
  margin: 8px 0;
  font-size: 15px;
}
.left-navigation i {
  margin-right: 7px;
  font-size: 12px;
  vertical-align: middle;
}
.left-navigation li:nth-child(1){
  border: 0.5px dashed darkgray;
  padding: 4px 8px;
  display: inline-block;
  margin: 0px;
  color: darkgray;
}

/*DASHBOARD CONTENT*/
.header {
  padding: 10px 0;
  margin: 0;
}
/*SEARCH BAR*/
.search-bar{
  width: 95%;
  height: 23px;
  color: darkgray;
  padding: 7px 0 7px 10px;
  margin: 15px auto;
  border-radius: 2px;
  background-color: white;
  text-align: left;
  border: 0.5px solid #CACACA;
}
.search-bar em {
  vertical-align: middle;
}
.search-bar i {
  margin-right: 7px;
  vertical-align: middle;
}
.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*MEMORY BAR*/
.memory-usage {
  text-align: left;
  vertical-align:
}
.memory-usage p {
  font-size: 12px;
  display: inline-block;
}
.memory-usage p:nth-child(1) {
  margin-right: 45px;
}
.memory-usage a {
  font-size: 12px;
  text-decoration: none;
  color: #3F3F3F;
}
.memory-usage a:hover {
  color: darkgray;
}
.memory-container{
  width: 100%;
  height: 5px;
  background-color: #D9D9D9;
  border-radius: 100px;
}
.memory-bar {
  width: 50%;
  height: 5px;
  border-radius: 100px;
  background-color: #47B8E0;
}
.header img {
  border-radius: 100%;
  border: 2px solid #FF7473;
  width: 50px;
  height: 50px;
  margin-left: 25px;
}

/*ITEM FILTERS*/
.item-filters {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
}
.item-filters a {
  text-decoration: none;
  color: darkgray;
  display: inline-block;
  margin-right: 20px;
}
.item-filters a:hover{
  color: #47B8E0;
}
.item-filters i {
  margin-right: 7px;
}

/*CONTENT ITEMS*/
.content-items {
  width: 100%;
  padding: 1.5em 0;
}

.item-box {
  background-color: white;
  position: relative;
  display: inline-block;
  width: 95%;
  height: 250px;
  margin: 5px auto;
  padding: 15px;
  overflow: hidden;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.25);
  border-radius: 2px;
}
.item-box:nth-child(1){
  border: 1px dashed #FFC952;
  background-color: rgba(255, 201, 82, 0.25);
  font-size: 24px;
  color: darkgray;
  text-align: center;
  box-shadow: 0px 0px 0px #FFFFFF;
}
.item-box:nth-child(1) a {
  display: inline:
  color: darkgray;
  vertical-align: middle;
}
.item-box > img{
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.favicon img {
  height: 16px;
  width: 16px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
}
.item-box h4 {
  color: #FF7473;
}
.item-box a {
  color: #47B8E0;
  text-decoration: none;
}
.item-box p {
  font-size: 14px;
  line-height: 18px;
  color: darkgray;
}

/*MEDIA QUERIES, DASHBOARD*/
@media (min-width: 650px) {
  /*CONTENT*/
  .item-box {
    width: 48%;
    margin: 2px 2px;
  }
}
@media (min-width: 768px) {
  .item-box {
    width: 32%;
    margin: 2px 2px;
  }
}
@media (min-width: 1200px) {
  .content {
    width: 80%;
    float: right;
    padding: 0;
    height: 100%;
  }
  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 10px 15px 10px 0;
    width: auto;
  }
  .header-right {
    display: flex;
    width: 50%;
    justify-content: flex-end;
  }
  .search-bar {
    width: 50%;
  }
  .header img {
    width: 40px;
    height: 40px;
  }
  .item-filters {
    text-align: left;
    font-size: 16px;
  }
  .item-box {
    width: 23%;
    height: 225px;
    margin: 2px 2px;
  }

}


/*MEDIA QUERIES, HOMEPAGE*/
@media (min-width: 650px){
    /*HERO*/
    nav {
        padding-left: 45px;
        padding-right: 45px;
    }
    nav div:nth-child(1) {
        text-align: left;
        float: left;
    }
    nav div:nth-child(2) {
        text-align: right;
    }
    header .hero img {
        height: 390px;
    }

    /*FEATURES*/
    .features {
        display: flex;
        flex-direction: column-reverse;
    }
    .features ul {
        display: flex;
        justify-content: space-around;
    }
    .features li {
        width: 33%;
    }
    .features h3 {
        font-size: 24px;
    }
    .features p {
        font-size: 16px;
        line-height: 26px;
    }
    .features i {
        font-size: 24px;
    }
    .features img {
        width: 80%;
        height: auto;
    }

    /*TESTIMONIALS*/
    .testimonial-wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .testimonial-box {
        margin: 10px;
        width: 37%;
    }
    .testimonial-box:nth-child(even){
        position: relative;
        top: 20px;
    }
    .testimonial-box p {
        font-size: 16px;
        line-height: 26px;
    }

    /*PRICING*/
    .pricing {
        height: 100%;
        padding-bottom: 0;
    }
    .white-box{
        background-color: white;
        height: 350px;
        margin-top: -250px;

    }
    .pricing-wrap {
        display: flex;
        justify-content: center;
    }
    .pricing-box {
        position: relative;
        width: 35%;
        height: 375px;
        margin: 25px 10px;
        padding-bottom: 15px;
    }

    .pricing-box .btn {
        position: absolute;
        bottom: 5px;
        left: 15px;
        right: 15px;
    }
}
@media (min-width: 1200px){
    /*HERO*/
    .hero {
        height: 90vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .hero h1 {
        font-size: 52px;
        line-height: 48px;
        margin: 0;
    }
    header .hero p {
        font-size: 24px;
        line-height: 31px;
        font-weight: 200;
        margin: 15px 0;
    }
    .hero-content {
        text-align: left;
        margin: 0;
        width: 45%;
        padding-left: 45px;
    }
    .hero .btn {
        margin: 0;
        text-align: center;
    }
    header .hero img {
        width: 55%;
        height: auto;
    }

    /*FEATUREs*/
    .features img {
        width: 65%;
    }
    .features li {
        width: 22%;
    }

    /*TESTIMONIAL*/
    .testimonials {
        padding: 25px 0;
    }
    .testimonials > p {
        margin-bottom: 15px;
    }
    .testimonial-box p {
        padding: 10px;
        text-align: left;
    }
    .testimonial-box img {
        width: 70px;
        height: 70px;
        text-align: left;
    }
    .testimonial-author {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /*PRICING*/
    .pricing-box{
        width: 23%;
    }
    .pricing-box .btn {
        bottom: 15px;
        left: 35px;
        right: 35px;
    }
    .white-box {
        height: 275px;
    }

}
